{% extends 'base.html' %}
{% block title %}
    <title>产品列表</title>
{% endblock %}
{% block container %}
<!--顶部搜索-->
<header class='weui-header fixed-top'>
  <div class="weui-search-bar" id="searchBar">
      {#      搜索的时候刷新页面，还是原来的那个页面，最好不用post，用get#}
    <form class="weui-search-bar__form" method="get" action=".">
      <div class="weui-search-bar__box">
        <i class="weui-icon-search"></i>
        <input type="search" class="weui-search-bar__input"
               id="searchInput"
               name="name"
               placeholder="搜索您想要的商品" required>
        <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
      </div>
      <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
        <i class="weui-icon-search"></i>
        <span>搜索您想要的商品</span>
      </label>
    </form>
    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
  </div>
  <div class="pro-sort">
    <div class="weui-flex">
      <div class="weui-flex__item"><div class="placeholder NormalCss">综合</div></div>
      <div class="weui-flex__item"><div class="placeholder SortAscCss">按销量</div></div>
      <div class="weui-flex__item"><div class="placeholder SortDescCss">按价格</div></div>
    </div>
  </div>
</header>
<!--主体-->
<div class="weui-content" style="padding-top:85px;">
  <!--产品列表--滑动加载-->
  <div class="weui-pull-to-refresh__layer">
    <div class='weui-pull-to-refresh__arrow'></div>
    <div class='weui-pull-to-refresh__preloader'></div>
    <div class="down">下拉刷新</div>
    <div class="up">释放刷新</div>
    <div class="refresh">正在刷新</div>
  </div>
  <div id="list" class='demos-content-padded proListWrap'>
    {# 下拉刷新，把这一块内容去掉，取一页新的内容过来；滚动加载，追加在后面就行了#}
    {#  就是把product_load_list.html放在这#}
  </div>
  <div class="weui-loadmore" id="loading">
    <i class="weui-loading"></i>
    <span class="weui-loadmore__tips">正在加载</span>
  </div>
</div>

{% endblock %}
{% block footer %}
<script>
    var loading = false;  // 是否正在加载中
    var page = 1; //当前页
    var noMore = false; // 是否还有下一页
    /**
     * 封装函数，异步取页面数据
     * 相关内容可以查看jq的文档ui
     * **/
    function loadData(callback) {
        // 如果正在加载中，return
        if(loading) return;
        // 如果没有下一页，return
        if(noMore) return;
        loading = true;
        // 正在加载给一个id属性叫loading，把正在加载显示出来
        $('#loading').show()
        //jq实现异步
        $.ajax({
            // 加载数据的地址mall:product_list
            // 加载html片段的地址product_load_list
            url: '{% url 'mall:product_load_list' %}',
            data: {
                page:page,
                name: "{{ search_data.name|default_if_none:'' }}",
                cls: "{{ search_data.cls|default_if_none:'' }}",
                tag: "{{ search_data.tag|default_if_none:'' }}"
            },
            {#调用成功#}
            success: function (rest) {
                // 添加HTML片段到内容区id：list中
                $('#list').append(rest);
                page++; // 页码加1
                {#正在加载变为一个false，只有它变成了false才可以调用其他的一些操作像下拉刷新#}
                loading = false;
                {#把正在加载设置为隐藏#}
                $('#loading').hide()
                // 如果有回调函数，则调用
                if (callback) {
                    callback()
                }
            }
        })

    }
      $(document.body).pullToRefresh().on("pull-to-refresh", function() {
          // 下拉时把内容清空掉
          $("#list").empty();
          // 页码变成1
          page = 1;
          noMore = false;
          // 回调函数
          loadData(function () {
              // 停止加载
              $(document.body).pullToRefreshDone();
          })
      });
      // infinite （滚动加载）
      //infinite(200)的200可以去设置，不知道为啥是200，也可以是100
      $(document.body).infinite(200).on("infinite", function() {
          loadData(); //加载数据
      });
      loadData(); //默认加载第一页
</script>
{% endblock %}
